header {
  padding: 0;
  
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .d-flex {
    align-items: center;
    min-height: 60px;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    
    img {
      max-height: 50px;
      height: auto;
      width: auto;
      display: block;
      vertical-align: middle;
    }
  }

  .navbar {
    padding: 0;
    align-items: center;
    min-height: 50px;
    margin-right: 60px;
  }

  ds-search-navbar,
  ds-lang-switch,
  ds-context-help-toggle,
  ds-auth-nav-menu,
  ds-impersonate-navbar {
    display: flex;
    align-items: center;
  }

  [role="toolbar"] {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  header .navbar {
    margin-right: 30px;
  }
}

@media (max-width: 992px) {
  header .navbar {
    margin-right: 0;
  }
}
