:host {
  display: block;

  div.background-image-container {
    color: white;
    position: relative;
    font-weight: 600;

    .upso-banner-background {
      background-image: url('/assets/images/upso-banner-background.jpg');
      background-size: cover;
      background-position: center;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .background-image > img {
      background-color: var(--bs-info);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .container {
      position: relative;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

      &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
      }

      &:before {
        background: linear-gradient(to left, var(--ds-banner-text-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));

      }

      &:after {
        background: linear-gradient(to right, var(--ds-banner-text-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
      }

      background-color: var(--ds-banner-text-background);
    }


    small.credits {
      a {
        color: inherit;
      }

      opacity: 0.3;
      position: absolute;
      right: var(--bs-spacer);
      bottom: 0;
    }
  }

  .home-news-content {
    background-color: transparent;
    text-align: center;
    
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    }
    
    .lead {
      font-size: 1.5rem;
      font-weight: 400;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    }
  }

  a {
    color: var(--ds-home-news-link-color);

    &:hover {
      color: var(--ds-home-news-link-hover-color);
    }
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 400;
  }
}


